html {
  height: 100%;
}

body {
  background-color:rgb(96, 37, 56);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

button {
  background-color: rgb(88, 88, 202);
  color: white;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
}

main {
  text-align: center;
}
#datetime {
  background-color: white;
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}
body {
  background-color: #a04444;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 40px ), repeating-linear-gradient( #FAF0E655, #FAF0E6 );
}