html {
  height: 100%;
}

body {
  background-color:rgb(96, 37, 56);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}